<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-874" />
<title>Untitled Document</title>
</head>

<body><div id="template_content">
<table border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td id="pic1" iid="891" jquery1448416506513="6"><img border="0" src="http://activities.ais.co.th/app/email_filter/imgpage.aspx?id=891" /></td>
    </tr>
  </tbody>
</table>
<br />
<br />
<table border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td id="pic8" iid="898" jquery1448416506513="34"><img border="0" src="http://activities.ais.co.th/app/email_filter/imgpage.aspx?id=898" /></td>
    </tr>
  </tbody>
</table>
<br />
<br />
<p>{{ content }}</p>
<br />
</div></body>
</html>
