<div id="template_content"><table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td id="pic1"><img src="http://activities.ais.co.th/app/email_filter/imgpage.aspx?id=1121" alt="" border="0" /></td>
</tr>
</tbody>
</table>
<p><br /> ทดสอบ edit template</p>
<p>&nbsp;</p>
<p>add new line</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td id="pic9"><a href="https://www.facebook.com/AIS" target="_blank"><img src="http://activities.ais.co.th/app/email_filter/imgpage.aspx?id=1129" alt="" border="0" /></a></td>
<td id="pic10"><a href="http://instagram.com/aisinstagram" target="_blank"><img src="http://activities.ais.co.th/app/email_filter/imgpage.aspx?id=1130" alt="" border="0" /></a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>{{ content }}</p></div>